<div class="container">
  <h1>{{title}}</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <form action="/jobs/edit/{{job.id}}" method="post">
          <div class="form-group">
              <input type="text" name="position" class="form-control" placeholder="Position" value={{job.position}}></input>
          </div>
          <div class="form-group">
              <input type="text" name="company" class="form-control" placeholder="Company" value={{job.company}}></input>
          </div>
          <div class="form-group">
              <button class="btn btn-info">Save job</button>
          </div>
      </form>
    </div>
  </div>
</div>